@using KnowHow.ViewModel;
@model KnowHow.ViewModel.CursosViewModel

@{
    ViewBag.Title = "Index";
}

<div class="busca">
    @using (Html.BeginForm("Buscar", "Home", FormMethod.Post, new { id = "buscar" }))
    {
        @Html.DropDownListFor(m => m.CategoriaId, Model.Categorias, "Selecione")

        <input type="text" name="Busca" placeholder="Buscar" value="@Model.Busca">
    }
</div>

<div class="eventos">
    @foreach (var item in Model.Cursos)
    {
        <a href="Curso/Detalhe/@item.Id" class="evento">
            <span class="sombra"></span>
            <div class="imagem">
                <span class="data">@item.Data.ToString("dd/MM/yyyy")</span>
                <img src="@item.UrlDaImagem">
            </div>
            <div class="curso-info">
                <span class="titulo">@Html.DisplayFor(modelItem => item.Nome)</span>
                <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                <span class="visualizado">@item.QuantidadeDeInteressados</span>
                <span class="participando">@item.QuantidadeDeParticipantes</span>
            </div>
        </a>
    }
    
    @if (!Model.Cursos.Any())
    {
       <div>Nenhum curso encontrado</div>
    }
</div>
