@model IEnumerable<KnowHow.Models.Categoria>

<div class="eventos">
    <p>
        @Html.ActionLink("Cursos", "Index", "Curso") |
        @Html.ActionLink("Nova categoria", "Create")
    </p>
    <h2>Categorias</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Ações</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
