@model IEnumerable<KnowHow.Models.Curso>

<div class="eventos">
    <p>
        @Html.ActionLink("Categorias", "Index", "Categoria")
    </p>
    <h2>Cursos</h2>
    <table class="table" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Local)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Data.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Local
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id }) |

                        @if (!item.Aprovado)
                        {
                            @Html.ActionLink("Aprovar", "Aprovar", new { id = item.Id })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
